@charset "UTF-8";

@font-face{
    font-family: computer-font, bubble;
    src: url('_font/computer-font.ttf'), url('_fonts/bubblegum-sans-regular.otf');

}

p{
    text-indent: 50px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}
body{
    background-color: rgb(255,255,255);
    color: rgba(0,0,0,1)/*o 'a' é o alfa*/;
}
.subtit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: size 16;
    background-color: darkgray;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 2%;
}

/*FORMATAÇÃO DE IMGS COM LEGENDA*/
figure.foto-legenda{
    border: 2px black;
}